.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.centered-header {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.signup-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(244, 244, 248);
}
.signup-form{
  background: rgba(red, green, blue, alpha);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(red, green, blue, alpha);
  text-align: center;
}
.signup-form h2{
  color: aquamarine;
}
.signup-form label{
  display: block;
  margin: 10px 0;
}
.signup-form input{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.signup-form button{
  background-color: #2ecc71;
  color: rgb(232, 231, 233);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.signup-form button:hover{
  background-color: #27ae60;
}